<div class="eventContainer">
    <div class="main" ng-controller="homeCtrl">
        <div class="img-slider" name="imgslide">
            <img src="cultural.jpg" class="slide">
            <div class="btn">
                <button ng-click="back()"><i class='bx bx-chevron-left'></i></button>
                <button ng-click="next()"><i class='bx bx-chevron-right'></i></button>
            </div>
        </div>
    </div>
    <div class="eventContent">
        <p>Explore endless possibilities at our upcoming college events! Dive into a world of excitement, 
            inspiration, and unforgettable memories. Whether you're an artist, a science enthusiast, 
            a sports fanatic, or simply seeking connection, we have something for you. Join us for discovery, 
            growth, and fun as we foster a vibrant community where ideas flourish and friendships bloom. 
            Don't miss out—mark your calendars, spread the word, and get ready to experience the magic of 
            our events!"</p>
        <center><a class="registerBtn" href="#!/registration">Click to Register</a></center>
    </div>

</div>


<br><br><br>
<div>
    <div class="content">
        <h1>{{Abt}}</h1>
        Welcome to BMCC Event Management System - Where Every Occasion Finds Its Perfect Moment!

        At BMCC Event Management System, we believe that every event, big or small, deserves to be a seamless and
        memorable experience. With a passion for perfection and an unwavering commitment to excellence, we have crafted
        a cutting-edge event management system for facilitating your experience of participating in the events at BMCC.

    </div>
</div>
<div ng-include="'views/socialMedia.htm'"></div>
